
/JS.ST.Imob.RepositoryTest/obj/
/JS.ST.Imob.RepositoryTest/bin/
/JS.ST.Imob.Repository/obj/
/JS.ST.Imob.Repository/bin/
/JS.ST.Imob.WebApi/obj/
/JS.ST.Imob.WebApi/bin/
/JS.ST.Imob.Service/obj/
/JS.ST.Imob.Service/bin/
/JS.ST.Imob.Consumer/obj/
/JS.ST.Imob.Consumer/bin/
/JS.ST.Imob.SetorConsumer/obj/
/JS.ST.Imob.SetorConsumer/bin/